/* .profile{

} */

/* .profile{

} */

.avatar{
background-color: lightblue;
    border-radius: 50%;
    width: 120px;
}

/* .name{

} */

/* .tag{

} */

/* .location{

} */

/* .stats{
    
} */

/* .label{

} */

/* .quantity{

} */